* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#title {

  margin: auto;
  padding: 30px 90px;
  justify-content: center;
  align-items: left;
  background: #161616;
  text-align: center;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E32227;
  clip-path: circle(68% at right -53%);
}

.logo {
  max-width: 130px;
  margin-left: 0px;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-left: 50px;
  font-size: 2rem;
  font-family: 'Major Mono Display', monospace;
  text-align: right;
  justify-content: right;
}

.nav-link:hover {
  color: #fff;
}

.Content .TextBox h1 {
  color: #fff;
  font-size: 45px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  line-height: 1.5em;
  font-weight: 300;
  font-family: 'Bungee Inline', cursive;
  justify-content: center;
  text-align: center;
}

.Content .TextBox p {
  color: #fff;
  font-size: 26px;
  margin-left: 10px;
  line-height: 55px;
}

.container-fluid {
  padding: 3% 15%;
}

.Content .TextBox a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 7px;
  padding: 6px 20px;
  background: #E32227;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.title-image {
  height: auto;
  width: auto;
}

.learnmore-button {
  margin-left: 15px;
}

#features {
  padding: 8% 15%;
}

.feature-box {
  text-align: center;
  padding: 1% 5%;
}

.feature-box p {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Rokkitt', serif;
  font-size: 1.2rem;
  color: #557174;
}

h3 {
  font-family: 'Bebas Neue', cursive;
}

.icon {
  color: #eb596e;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #E32227;
  transition: 0.15s ease-in-out;
}

#productgallery {
  background-color: #161616;
  padding: 5% 15%;
  text-align: center;
  color: #fff;
}

.prod h2 {
  font-family: 'Carter One', cursive;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
}

.prod h1 {
  font-family: 'Special Elite', cursive;
  font-size: 4.5rem;
}

.prod p {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Rokkitt', serif;
  font-size: 1.5rem;
}

.productgalleryimg {
  width: 30%;
  border-radius: 90%;
  margin: 20px;
}

.carousel-item {
  padding: 1% 10%;
}

#footer {
  padding: 2%;
  text-align: center;
  justify-content: center;
}

.footer ul li a {
  margin-left: 35px;
  text-align: center;
  justify-content: center;
}

.footer p {
  font-family: 'Special Elite', cursive;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin-left: 30px;
}

.soc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc li {
  list-style: none;
}

.soc li a {
  margin-left: 15px;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.12s ease-in-out;
}

.soc li a:hover {
  background: #e51e2a;
  transform: translateY(-10x);
}

.social {
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  margin-left: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.social:hover {
  background: #e51e2a;
  transform: translateY(-10x);
  color: #fff;
  background: #e51e2a;
  transform: translateY(-10x);
  text-decoration: none;
}

@media (max-width: 990px){
  .title{
height: 100vh;
 }

  .TextBox{
    flex-direction: row;
    object-fit: contain;
  }

  .logo{
    flex-direction: column;
  }

  .navbar{
    flex-direction: row;
  }
}
