*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
html {
  scroll-behavior: smooth;
}
#title {
  margin: auto;
  max-height: 100vh;
  padding: 30px 90px;
  justify-content: center;
  align-items: left;
  background: #161616;
  text-align: center;
}



.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background :#E32227;
  clip-path: circle(70% at right -55%);
}

.logo
{
   max-width: 130px;
}
<<<<<<< Updated upstream
.navbar-nav .nav-item .nav-link{
  font-weight: bold;
  text-decoration: none;
  margin-left: 90px;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-family: 'Major Mono Display', monospace;
}



=======
.navbar-nav .nav-item .nav-link  {
  font-weight: bolder;
  margin: 0 0 10px 70px;
  font-size: 1rem;
  font-family: 'Major Mono Display', monospace;
  color: #000;
}
.navbar-nav .nav-item .nav-link:hover  {
color: #fff;
}
>>>>>>> Stashed changes
.Content .TextBox h1

{
  color: #fff;
  font-size: 3.3rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  line-height: 1.4em;
  font-weight: 700;
  font-family: 'Permanent Marker', cursive;
  justify-content: center;
}

.Content .TextBox p
{
  color: #fff;
  margin-left: 10px;
  line-height: 25px;
}

.container-fluid{
padding: 3% 15%;
}
.Content .TextBox a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 7px;
  padding: 6px 20px;
  background: #E32227;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}


.title-image {
  height: auto;
  width: auto;
}

.learnmore-button {
  margin-left: 15px;
}

#features
{  padding: 8% 15%;
  background-color: #fff;
}

.feature-box{
  text-align: center;
  padding: 1% 5%;
  color: #000;
}
.feature-box p{

font-family: 'Bebas Neue', cursive;
font-family: 'Rokkitt', serif;
font-size: 1.2rem;
color: #557174;
}

h3{
  font-family: 'Bebas Neue', cursive;
}

.icon{
  color: #eb596e;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #E32227;
  transition: 0.15s ease-in-out;

}

#productgallery {
  background-color: #E32227;
  padding: 4% 15%;
  text-align: center;
  color: #fff;


}

 .prod h2 {
   font-family: 'Carter One', cursive;
   font-size: 30px;
   line-height: 1.5;
   padding: 0;
 }

.prod h1 {
font-family: 'Nanum Pen Script', cursive;
font-size: 5rem;
}

.prod p {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Rokkitt', serif;
  font-size: 1.5rem;
}
.productgalleryimg{
  width: 30%;
  border-radius: 90%;
  margin: 20px;
}

.carousel-item{
  padding: 1% 10%;
}


#footer {
  padding: 2%;
  text-align: center;
}

.footer p{
  font-family:   font-family: 'Bebas Neue', cursive;

}
.soc{

  display: flex;
  justify-content: center;
  align-items: center;
  }

.soc li
{
  list-style: none;

}

.soc li a
{
  margin-left: 15px;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.12s ease-in-out;
  }

  .soc li a:hover {
    background: #e51e2a;
    transform: translateY(-10x);
  }


  .social {
      color:#fff;
      font-size:22px;
      border-radius:50%;
      margin-left: 20px;
      text-align:center;
      display: inline-block;
      text-decoration: none;
  }

  .social:hover
  {
    background: #e51e2a;
    transform: translateY(-10x);
    text-decoration: none;
  }
