*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

#title {
  min-height: 100vh;
  padding: 30px 90px;
  justify-content: space-between;
  align-items: center;
  background: #161616;
  text-align: center;
}


.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background :#E32227;
  clip-path: circle(70% at right -50%);
}

.logo
{
   max-width: 130px;
}
.navbar-nav  li a {
  display:flex;
  color: black;
  font-weight: light;
  text-decoration: none;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5rem;



}

nav-link:hover {
  color: #fff;
}






.Content .TextBox h1

{
  color: #fff;
  font-size: 3.3rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  line-height: 1.4em;
  font-weight: 700;
  font-family: 'Permanent Marker', cursive;
  justify-content: center;
}

.Content .TextBox p
{
  color: #fff;
  margin-left: 10px;
  line-height: 25px;
}

.container-fluid{
padding: 3% 15%;
}
.Content .TextBox a {
  display: inline-block;
  margin-top: 20px;
  margin-left: 7px;
  padding: 6px 20px;
  background: #E32227;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}


.title-image {
  height: auto;
  width: auto;
}

.learnmore-button {
  margin-left: 15px;
}
.soc{
  position: absolute;
  bottom: 5px;
  left:70px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.soc li
{
  list-style: none;

}

.soc li a
{
  display: inline-block;
  margin-left: 15px;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  }

  .soc li a:hover {
    background: #e51e2a;
    transform: translateY(-10x);
  }

  .soc li a img
  {
    filter: invert(1);
    transform: scale(0.5);
  }
  .social {
      color:#fff;
      font-size:22px;
      border-radius:50%;
      margin:0px 8px;
      text-align:center;
      display: inline-block;
      text-decoration: none;
  }

  .social:hover
  {
    background: #e51e2a;
    transform: translateY(-10x);
    text-decoration: none;
  }
#features
{  padding: 8% 15%;
}

.feature-box{
  text-align: center;
  padding: 1% 5%;
}
.feature-box p{

font-family: 'Bebas Neue', cursive;
font-family: 'Rokkitt', serif;
font-size: 1.2rem;
color: #557174;
}

h3{
  font-family: 'Bebas Neue', cursive;
}

.icon{
  color: #eb596e;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #E32227;
}

#productgallery {
  background-color: #E32227;
  padding: 4% 15%;
  text-align: center;
  color: #fff;

}
 .prod h2 {
   font-family: 'Carter One', cursive;
   font-size: 30px;
   line-height: 1.5;
   padding: 0;
 }

.prod h1 {
font-family: 'Nanum Pen Script', cursive;
font-size: 5rem;
}

.prod p {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Rokkitt', serif;
  font-size: 1.5rem;
}
.productgalleryimg{
  width: 30%;
  border-radius: 90%;
  margin: 20px;
}

.carousel-item{
  padding: 1% 10%;
}
